{% extends "layout.html"%}    
    
{% block content %}

    <section id="contasmes">
        <div class="container-fluid" id="contas">
            <h2 class="text-center text-uppercase text-secondary mb-0">Cálculo <span id="currentMonth"></span></h2>
            <hr class="star-dark mb-5">
            <div class="col-lg-10 mx-auto" id="calculo">
                <form name="sentMessage" id="payment" method="POST" action="{{ url_for('contas') }}">
                    <div class="form-group col-md-6" id="pagador">
                        <h4>Pagador Mês : {{currentPayer}}</h4>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6"> 
                            <label for="aluguel">Aluguel</label>
                            <input class="form-control j" id="aluguel" type="text" required="required" onblur="valorTotal()" data-validation-required-message="Digite o valor do campo Aluguel" placeholder="Aluguel">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="costJoao">Gastos João</label>
                            <input class="form-control j" type="text" name="costJoao" id="costJoao" onblur="valorCada()" placeholder="R$"><br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="internet"> Internet</label>
                            <input class="form-control j" id="internet" type="text" required="required" onblur="valorTotal()" data-validation-required-message="Digite o valor do campo Telefone." placeholder="Telefone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="totalJoao">Total João</label>
                            <input class="form-control j" type="text" name="totalJoao" id="totalJoao" readonly="readonly" placeholder="R$">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="internet">internet</label>
                            <input class="form-control j" id="internet" type="text" required="required" onblur="valorTotal()" data-validation-required-message="Digite o valor do campo internet."  placeholder="internet">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="costJulio">Gastos Julio</label>
                            <input class="form-control j" type="text" name="costJulio" id="costJulio" onblur="valorCada()" placeholder="R$"><br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="total">Total</label>
                            <input class="form-control j" type="text" name="total" id="total" readonly="readonly" placeholder="R$">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="totalJulio">Total Julio</label>
                            <input class="form-control j" type="text" name="totalJulio" id="totalJulio" readonly="readonly" placeholder="R$">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="totalCada">Total por Pessoa</label>
                            <input class="form-control j" type="text" name="totalCada" id="totalCada" readonly="readonly" placeholder="R$">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="costMarcos">Gastos Marcos</label>
                            <input class="form-control j" type="text" name="costMarcos" id="costMarcos" onblur="valorCada()" placeholder="R$"><br/>
                            <label for="totalMarcos">Total Marcos</label>
                            <input class="form-control j" type="text" name="totalMarcos" id="totalMarcos" readonly="readonly" placeholder="R$">
                        </div>
                    </div>
                    <!-- <div class="control-group">
                        <label>Mensagem</label>
                        <h1 id="currentMonth"></h1>
                    </div> -->
                   
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-xl" id="imprimir" onclick="geraPDF()">Imprimir</button>
                    </div> 
                </form>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
    <script src="./static/js/html2pdf.bundle.min.js"></script>

    
    <script type="text/javascript">
        function id(el) {
          return document.getElementById( el );
        }
        
        function valorTotal() {
            var result = 0;
            var aluguel = id('aluguel').value;
            var telefone = id('telefone').value;
            var internet = id('internet').value;
            if(aluguel && telefone && internet){
                result = converteMoedaParaFloat(aluguel) + converteMoedaParaFloat(telefone) + converteMoedaParaFloat(internet);
            }
            atualizaTotais(result);
        } 

        function converteMoedaParaFloat(atributo){
           return parseFloat(atributo.replace('R$', '').replace('.', '').replace(',', '.'))
        }
        function atualizaTotais(result){
            id('total').value = result;
            id('totalCada').value = result / tamanhoPagadores();
        }
        function valorCada(){

            var payers = JSON.parse('{{residents | tojson}}');

            for (i=0; i < tamanhoPagadores(); i++){
                resident = payers[i].normalize('NFD').replace(/[\u0300-\u036f]/g, "");
                valorIndividual = converteMoedaParaFloat(id('cost'+resident).value) ? (converteMoedaParaFloat(id('cost'+resident).value) / tamanhoPagadores()) : 0.0;
                custoResident = converteMoedaParaFloat(id('cost'+resident).value) ? converteMoedaParaFloat(id('cost'+resident).value) : 0.0;
                id('total'+resident).value = (converteMoedaParaFloat(id('totalCada').value) - custoResident) + valorIndividual + somaCustosOutros(resident);   
            }

        }
        function somaCustosOutros(resident){
            var custoJoao = id('costJoao').value ? converteMoedaParaFloat(id('costJoao').value) / tamanhoPagadores() : 0.0;
            var custoJulio = id('costJulio').value ? converteMoedaParaFloat(id('costJulio').value) / tamanhoPagadores() : 0.0;
            var custoMarcos = id('costMarcos').value ? converteMoedaParaFloat(id('costMarcos').value) / tamanhoPagadores() : 0.0;

            if( resident == 'Joao'){
                return custoJulio + custoMarcos;
            }
            else if(resident == 'Julio'){
                return custoJoao + custoMarcos;
            }
            else{
                return custoJoao + custoJulio;
            }
        }
        function tamanhoPagadores(){
            return JSON.parse('{{residents | tojson}}').length;
        }

        function geraPDF(){
            var element = document.getElementById('contas');
            console.log(element);
            var opt = {
            margin:       1,
            filename:     'contase.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
            html2canvas:  { scale: 2 },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            
            html2pdf().set(opt).from(element).save();
        }
        
    </script>

    <script>
        $(".j").inputmask({
            alias:'currency',
            radixPoint:",",
            prefix: 'R$ ',
            groupSeparator: ".",
            autoGroup: true,
            digits: 2,
            rightAlign: false,
            unmaskAsNumber: true,
            onBeforeMask: function (value, opts) {
                return value;
            }
         });

    </script>

{% endblock %}
      