{% extends "layout.html"%}    
    
{% block content %}
    <!-- Pagamentos Section -->
    <section id="pagamentos" class='bg-primary'>
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">{{year}}</h2>
            <hr class="star-light mb-5">
            <table class="table text-white">
                <thead class="thead-dark">
                  <tr>
                    {% for column in columns %}
                      <th scope="col">{{column}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>  
                  {% for key, value in payers.items() %}
                    <tr>
                        <th scope="row">{{loop.index0 + 1}}</th>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </section>

{% endblock %}